/log
/node_modules
storage/runtime
storage/backups
storage/logs
.env
.ruby-version
dump.sql
web/cpresources
/vendor

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
