{% extends "_layouts/main" %}

{% block content %}
	<h1>{{ entry.label }}</h1>

	{{ entry.body }}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.label }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
